@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Metrophobic&family=Nanum+Pen+Script&family=Rubik&display=swap');

:root{
  /*--bg-color: #393940;*/
  /*--bg-color: #212121;*/
  --bg-color: #222831;
  /*--box-color: #4D4957;*/
  --box-color:#393E46;
  --header-text-color: #F5EFDF;
  --complementary-color1: #47404D;
  --complementary-color2: #494C57;
  --complementary-color3: #40474D;

  /*Paleta colores azul y morado*/
  --primary-100:#00ADB5;
  --primary-200:#AAE3E2;
  --primary-300:#fdf6fd;
  --accent-100:#AC7DD2;
  --accent-200:#fff4ff;
  --text-100:#EEEEEE;
  --text-200:#C5C5C5;
  --bg-100:#222831;
  --bg-200:#393E46;
  --bg-300:#454e59;
}
*{
    text-align: center;
}
body{
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
    font-family: 'kanit', arial;
}

/* Estilo para el header */
header {
    width: 800px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: center;
}

/* Estilo para cada elemento del header */
.navbar-item {
  flex: 1;
  width: 320px;
}

/* Estilos sección cuenta atrás */
.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'metrophobic';
  }
.countdown p {
  margin-left: 0px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.countdown #countdown-timer {
  font-size: 17px;
  font-weight: bold;
  margin-top: -20px;
}

/*Estilos logo*/
.logo {
  flex: 1;
  text-align: center;
}
.logo a{
    font-family:'Nanum Pen Script',Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

/*Estilos iconos*/
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.icons a {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
}
.icons i{
    font-size: 25px;
}
/*Botones header*/
.cuadroTexto {
  display: none; /* para ocultar el cuadro de texto inicialmente */
  width: 550px;
  height: 300px;
  color: var(-text-100);
  background-color: var(--bg-300);
  padding: 30px;
  margin-top: -270px; /* para centrar verticalmente el cuadro de texto */
  margin-left: -275px; /* para centrar horizontalmente el cuadro de texto */
  position: fixed; /* para posicionar el cuadro de texto en la pantalla */
  top: 50%; /* para centrar verticalmente el cuadro de texto */
  left: 50%; /* para centrar horizontalmente el cuadro de texto */
  text-align: justify; /* para centrar el texto horizontalmente */
  align-items: left; /* para centrar el texto verticalmente */
  display: flex; /* para centrar el texto verticalmente */
  flex-direction: column; /* para centrar el texto verticalmente */
  border-radius: 10px;
}
.cuadroTexto p{
  text-align: justify;
}
.cuadroTexto a{
  margin-left: 0;
  background-color: var(--accent-100);
  border-radius: 10px;
  padding-left: 4px;
  padding-right: 4px;
}
.btn-header {
  cursor: pointer;
}
.btn-cerrar-header {
  cursor: pointer;
  position: absolute; /* para posicionar el botón de cerrar */
  top: 5px; /* para posicionar el botón de cerrar en la parte superior */
  right: 5px; /* para posicionar el botón de cerrar en la parte derecha */
}


/* Estilo para el desplegable de idioma */
.selected-language{
  cursor: pointer;
}
.selected-language:before{
  content: "";
  display: block;
  width: 32px;
  height: 32px;
}
.lang-menu{
  position: relative;
}
.lang-menu ul{
  margin: 0;
  padding: 0;
  /*background-color: #645d5d;
  border: 1px solid #f8f8f8;*/
  background-color: var(--bg-300);
  border: 1px solid var(--primary-300);
  box-shadow: 0px 1px 10px rgba(0,0,0, 0.2);
  display: none;
  position: absolute;
  top: 35px;
  left: 14px;
  border-radius: 10px;
}
.lang-menu li{
  list-style: none;
}
.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.lang-menu ul li a{
  width: 100px;
  display: flex;
  padding: 4px;
  margin: 5px;
  justify-content: left;
  align-items: center;
}
.lang-menu a{
  text-decoration: none;
}
.imagen-idioma{
  width: 24px;
  height: 24px;
  margin-right: 5px;
}




/*Fin estilos header*/


/*-----------------------------Comienzo estilos cuerpo-----------------------------*/

/*Recuadros modo de juego*/
.cont-container{
  margin: 40px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 1250px;
}
.box {
  width: 30%;
  height: 460px;
  border-radius: 10px;
  background-color: var(--box-color);
  /*background-color: #46424F, #4D4957;*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 300ms;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box:hover {
  transform: scale(1.15);
}

/* Estilos cajas 1 (sombra) */
/*
.box {
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(60, 60, 60);
}
*/



/*Categorías cajas de modos de juego*/

.secciones{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.secciones ul{
  list-style: none;
  background-color: #fff;
}
.cont-container h2{
  font-family: 'metrophobic', Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}
.modo-juego-box{
  margin: 7px auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 7px;
  border-radius: 30px;
}


/*Estilos botón selector modo de juego*/
.modo-juego-btn {
  width: 80%;
  height: auto;
  margin: 15px ;
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: var(--primary-300);
  /*background: #e8e8e8;*/
  position: relative;
  font-weight: 1000;
  font-size: 25px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
.modo-juego-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--accent-100);
  /*background-color: #212121;*/
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
.modo-juego-btn:hover {
  color: #e8e8e8;
 }
 
 .modo-juego-btn:hover::before {
  width: 100%;
 }

.descrip-juego{
  font-size: 15px;
}

/*Fin estilos botones selectores de modo de juego*/



/*-------------------------------------------ESTILOS PÁGINAS JUEGOS/*-------------------------------------------*/

.game-cont {
    height: 80vh; /* Ajusta la altura a tus necesidades */
}

.game-box{
  width: 700px;
  height: 100%;
  border-radius: 10px;
  /*background-color: var(--box-color);*/
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto; /* Centrar  */
}
/*Propiedades de la caja que muestra la imagen/emoji/... del reto*/
.caja-reto{
  width: 100%;
  height: 250px;
  background-color: #00ADB5;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-300);
  text-align: center;
  
}

/*---BARRA NAVEGACION SERIES---*/
.series-menu{
  margin-top: -20px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background: var(--bg-300);
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
}

.series-menu-elem1, .series-menu-elem3 {
  flex: 1;
}
.series-menu-elem1{
  text-align: left;
}
.series-menu-elem3{
  text-align: right;
}

.series-menu-elem2{
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*estilos botones menu navegacion*/
.btn-menu-series {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;
}

.btn-menu-series:focus,
.btn-menu-series:hover {
  color: #fff;
}

.btn-menu-series:focus:after,
.btn-menu-series:hover:after {
  width: 100%;
  left: 0%;
}

.btn-menu-series:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.despl-modo-serie option{
  margin: 0;
  padding: 0;
  background-color: var(--bg-300);
  border: 1px solid var(--primary-300);
  box-shadow: 0px 1px 10px rgba(0,0,0, 0.2);
  position: absolute;
  top: 35px;
  left: 14px;
  border-radius: 20px;
}




/*---Barra de búsqueda---*/
.buscador-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.input-buscador {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--box-color);
  caret-color: #f7f7f8;
  color: #fff;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  transition: all .2s ease;
}

.input-buscador:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}

.input-buscador:focus {
  border: 2px solid var(--accent-100);
  background-color: #0e0e10;
}

.search__btn {
  border: none;
  cursor: pointer;
  background-color: rgba(42, 42, 45, 1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__btn:hover {
  background-color: rgba(54, 54, 56, 1);
}

/*---Fin barra de búsqueda---*/

.historial-intentos{
  color: var(--accent-200);
}
.intentos-restantes{
  color: var(--accent-200);
}































