  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Metrophobic&family=Nanum+Pen+Script&family=Rubik&display=swap');

:root{
    --bg-color: #222831; /*BG COLOR PALETA V1*/
    --box-color:#393E46; /*COLOR CAJAS PALETA V1

    /*Paleta colores azul y morado*/
    --primary-100:#00ADB5;
    --primary-200:#AAE3E2;
    --primary-300:#fdf6fd;
    --accent-100: #AC7DD2;
    --accent-200:#fff4ff;
    --text-100:#EEEEEE;
    --text-200:#C5C5C5;
    --bg-100:#222831;
    --bg-200:#393E46;
    --bg-300:#454e59;
  
    /*---PALETA V2---*/
    --bg-color: #26292B ; /*PALETA V2*/
    --box-color:#2E3239; /*PALETA V2*/
    --primary-100: #5F7ADB;
    --accent-100: #A2B2EE;
    --color-fallo: #FF003A;
  }
/* Estilos generales */
body {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
    font-family: 'kanit', arial;
    margin-top: 80px;
  }
  
  h1 {
    font-family: 'metrophobic', Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
  }
  /*Header*/
  header {
    width: 100%;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: center;
    position: fixed;
    background-color: var(--bg-200);
}
.navbar-item, .navbar-item a {
    flex: 1;
    width: 320px;
    height: auto;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'metrophobic', Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  }

  #formulario-login {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--box-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
  }
  #formulario-login button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-100);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px auto 15px auto;
  }
  #btn-agregar {
    width: 30%;
    padding: 10px;
    background-color: var(--primary-100);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .tabla-listado button{
    width: 100%;
    padding: 10px;
    background-color: var(--color-fallo);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Index*/

.logout-button {
    margin-top: 20px;
}
#categorias-indice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .category-box {
    width: 500px;
    height: 200px;
    background-color: var(--box-color);
    text-align: center;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 300ms;
    text-decoration: none;
    color: var(--text-100);
    font-size: 34px;
  }

/*Listado */
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
tbody{
    color: white;
}
th {
    background-color: #f2f2f2;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.small-image {
    max-width: 100px;
    max-height: 100px;
}

.add-button {
    text-align: center;
    margin-bottom: 20px;
}


/*Formulario añadir reto*/


.formulario-agregar-reto {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--box-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  .formulario-agregar-reto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.form-group {
    margin-bottom: 10px;
}
.btn-limpiar-form {
    background-color: var(--color-fallo) !important; 
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-agregar-reto  {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-100);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }




